#about-me {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 10%;
    margin-bottom: 50px;
}

#about-me_left {
    width: 40vw
}

#about-me_right {
    width: 60vw
}

#about-me_left>img {
    height: 300px;
    width: 400px;
}

#about-me_right h4 {
    color: #555;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    opacity: .7
}

#about-me_right h1 {
    color: #222;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px
}

#about-me_right p {
    font-weight: 500;
    margin-bottom: 40px
}

#about-me_right>.btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 30px;
    border-radius: 1px;
    border: none
}

#about-me_right>.btn:hover {
    opacity: .9
}

@media screen and (max-width: 1024px) {

    #about-me_left {
        width: 100%;
    }

    #about-me_left>img {
        height: 300px;
        width: 375px;
        margin: 0;
    }

    #about-me_right h4 {
        letter-spacing: 4px;
        margin-top: 10px;
    }

    #about-me_right h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 850px) {


    .container {
        width: 850px;
    }

    #about-me {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10%;
    }

    #about-me_right {
        text-align: center;
    }

    #about-me_left {
        text-align: center;
    }

    #about-me_left>img {
        height: 200px;
        width: 275px;
        margin: 0;
    }

    #about-me_right>.btn {
        padding: 10px 50px;
    }

}