contact-me {
    max-width: 1440px;
    margin-inline: auto;
    padding: 10px 10%;
}

#contact-me h2 {
    color: #222;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 800
}

.contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

form,
label {
    background: #fdecec
}

.form-container {
    background: #fdecec;
    padding: 20px;
    border-radius: 1px;
    flex: 1;
    max-width: 500px;
    border: 1px solid #f5bcbc
}

.form-container label {
    display: block;
    font-weight: 500;
    margin: 10px 0 5px
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px
}

.form-container textarea {
    resize: none;
    height: 100px
}

.form-container button {
    width: 100%;
    background: #e85a39;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer
}

.form-container button:hover {
    background: #d94b2c
}

.contact-info {
    background: #fdecec;
    padding: 20px;
    border-radius: 1px;
    flex: 1;
    max-width: 500px;
    border: 1px solid #f5bcbc
}

.links>strong,
.links>a {
    background: #e85a39
}

.contact-info .links {
    background: #e85a39;
    color: #fff;
    padding: 15px;
    border-radius: 1px;
    margin-bottom: 15px;
    font-size: 16px
}

.links a {
    color: #fff;
    text-decoration: none
}

.placeholder {
    background: #d6d6d6;
    height: 70px;
    border-radius: 1px;
    margin-bottom: 15px
}

@media screen and (max-width: 1024px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        max-width: 650px;
        width: 100%;
    }

    .contact-info {
        max-width: 650px;
        width: 100%;
    }

    #contact-me h2 {
        font-size: 30px;
    }
}