footer {
    background: #6fd2f5;
    padding: 30px 50px 10px
}

.footer-container {
    background: #6fd2f5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto
}

.footer-column h3 {
    color: #222;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    background: #6fd2f5
}

.footer-column {
    background: #6fd2f5
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #6fd2f5
}

.footer-links li {
    margin-bottom: 10px;
    background: #6fd2f5
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    background: #6fd2f5
}

.footer-links a:hover {
    text-decoration: underline
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    background: #6fd2f5
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6fd2f5;
    box-shadow: 0 2px 5px rgb(0 0 0 / .2);
    transition: transform 0.2s, background 0.3s
}

.social-icons img {
    width: 30px;
    height: 30px;
    background: #6fd2f5
}

.copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    border-top: 1px solid rgb(0 0 0 / .2);
    color: #333;
    background: #6fd2f5
}