@import 'header.css';
@import 'home.css';
@import 'about-me';
@import 'specialize.css';
@import 'my-work.css';

@font-face {
  font-family: "poppins";
  src: url("fonts/Poppins.ttf") format("truetype");
  font-family: 'roboto';
  src: url("fonts/Roboto.ttf") format('truetype')
}

:root {
  --primary-color: #EB6440;
  --secondary-color: #7DDFFD;
  --font-color: #333333;
  --background-color: #fff2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}