 #my-work {
     display: flex;
     flex-direction: column;
     gap: 30px;
     align-items: center;
     max-width: 1440px;
     margin-inline: auto;
     padding: 10px 10%;
     margin-bottom: 70px;
 }

 #my-work h3 {
     color: #222;
     font-size: 35px;
     font-weight: 800;
     text-align: center;
 }

 .cards {
     display: flex;
     justify-content: center;
     width: 100%;
     gap: 5px;
     flex-wrap: wrap;
     padding: 0;
 }

 .card {
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     width: 30%;
     height: 400px;
     display: flex;
     flex-direction: column;
 }

 .card>img {
     width: 100%;
     height: auto;
     object-fit: cover;
     flex: 1;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px;
 }

 .description {
     margin: 10px;
     height: 150px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex: 1;
 }

 .description h4 {
     margin-bottom: 10px;
 }

 .description p {
     font-size: 12px;
     margin-bottom: 10px
 }

 .description div {
     margin-bottom: 7px;
 }

 @media screen and (max-width: 850px) {
     .cards {
         gap: 10px;
     }

     .card {
         width: 100%;
     }

     #my-work h3 {
         font-size: 30px;
     }
 }