@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;
    400;
    500;
    600;
    700&display=swap);
    #about-me_right button, .container button {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}
#main-content, main {
    background-color: #fff2f2;
}
*, .feedback-input {
    box-sizing: border-box;
}
:root {
    --primary-color: #EB6440;
    --secondary-color: #7DDFFD;
    --font-color: #000;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
#home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(140deg, rgba(255, 46, 0, .54) 40%, rgba(255, 255, 255, 0) 54.93%, rgba(0, 191, 252, .51) 70%);
    filter: drop-shadow(0px 4px 4px rgba(0,  0,  0,  .25));
}
.hamburger-menu {
    display: none;
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: 0 0;
    margin-top: 10px;
}
#about-me, #hero {
    justify-content: center;
    width: 100%;
    display: flex;
}
#menu-item {
    display: flex;
}
#menu-item li {
    padding: 10px 15px;
}
header #logo a {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}
#menu-item li a {
    font-weight: 500;
    color: #000;
    position: relative;
    margin: 0 10px;
}
#menu-item li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--font-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s ease-in-out;
}
#menu-item li a:hover::after {
    width: 100%}
.container button {
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
}
#hero {
    padding: 100px;
}
#hero_left {
    padding-right: 150px;
    padding-top: 50px;
}
#about-me_right h4, #hero_left h4 {
    letter-spacing: 10px;
    margin-bottom: 20px;
    opacity: .7;
}
#about-me_right h1, #hero_left h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}
#hero_left p {
    font-weight: 600;
    margin-bottom: 40px;
}
#hero_left button {
    margin-right: 20px;
}
#hero_right img {
    height: 400px;
    width: 380px;
    margin: 30px;
}
#about-me {
    padding: 50px 100px;
}
#about-me_right {
    padding-left: 150px;
    padding-top: 50px;
}
#about-me_right p {
    font-weight: 600;
    margin-bottom: 30px;
}
#about-me_right button {
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 3px;
    border: none;
}
#about-me_left img {
    height: 400px;
    width: 400px;
    margin: 30px;
}
#my-work h3, #specialize h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    letter-spacing: 2px;
}
#skills {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
}
#skills img {
    height: 60px;
    width: 60px;
    margin: 5px 15px;
}
#skills li:nth-child(2n) {
    padding-top: 50px;
    padding-left: 20px;
}
#skills li:nth-child(odd) {
    padding-bottom: 50px;
    padding-right: 20px;
}
#my-work {
    text-align: center;
    margin: 70px 0;
}
.projects_carousel img {
    background-color: #7ddffd;
    height: 300px;
    width: 350px;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5%}
#my-work .arrow {
    position: relative;
    z-index: 1000;
    top: 283%;
    opacity: .5;
}
#my-work #arrow-left {
    position: absolute;
    left: 70px;
}
#my-work #arrow-right {
    position: absolute;
    right: 60px;
}
#testimonials {
    background-color: #ff6b00;
    height: 60vh;
}
#testimonials h1 {
    display: inline-block;
    transform-origin: 0;
    transform: rotate(90deg);
    position: relative;
    top: -5px;
    right: -95%;
    font-size: 3em;
    letter-spacing: 1px;
    opacity: .9;
}
#main-content img {
    height: 120px;
    width: 120px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 10px;
}
#main-content p {
    text-align: center;
    padding: 0 250px;
}
#main-content {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -72px;
    border-radius: 0 10% 10% 0;
}
#contact-me {
    background: #fff2f2;
    padding: 0 100px;
    margin: 30px 100px 0;
}
#contact-me h1 {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 rgba(white, 1);
    margin-bottom: 20px;
}
.feedback-input {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #eb6440;
    transition: .3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    outline: 0;
}
.feedback-input:focus {
    border: 2px solid #cc4949;
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
[type=submit] {
    width: 100%;
    background: #ff6b00;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    margin-top: -4px;
    margin-bottom: 70px;
    font-weight: 700;
}
[type=submit]:hover {
    background: #cc4949;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7ddffd;
    height: 100px;
}
footer #menu-item_footer, footer #social {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-item_footer li a {
    font-size: 20px;
    padding: 10px 15px;
    color: #000;
    font-weight: 600;
    margin-left: 20px;
    opacity: .6;
}
#social img {
    height: 35px;
    width: 35px;
    margin: 10px;
    cursor: pointer;
}
 